@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    max-width: 100vw;
  }
}

@layer utilities {
  .mix-blend-lighten {
    mix-blend-mode: lighten;
  }
  
  .mix-blend-screen {
    mix-blend-mode: screen;
  }
  
  .mix-blend-multiply {
    mix-blend-mode: multiply;
  }
}

@media print {
  .container {
    width: 3.37in;
    height: 2.125in;
    border: transparent;
    margin: 0;
    outline: none;
  }

  body {
    width: 3.37in;
    height: 2.125in;
  }

  .print-hidden {
    display: none;
  }
}

@page {
  size: 3.37in 2.125in;
  margin: 0;
}